@using System.Collections.Generic
@using Warehouse.Models
@{
    ViewData["Title"] = "Create Shipping Bill - Dashboard";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-12">
            <div class="card">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Warehouse Shipping Bill</h6>
                </div>
                
                <div class="card-body">
                    @using (Html.BeginForm())
                    {
                        <div class="form-group">
                            <label>Warehouse</label>
                            <select name="Warehouse" class="form-control">
                                @{
                                    var warehouses = ViewData["Warehouses"] as List<Warehouse>;
                                }
                                @foreach (var warehouse in warehouses)
                                {
                                    <option value="@warehouse.Id">@warehouse.Name</option>
                                }
                            </select>
                        </div>
                        
                        <button class="btn btn-primary">Create</button>
                    }
                </div>
            </div>
        </div>
    </div>
</div>