@{
    ViewData["Title"] = "Error";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-12 py-5">
            <h1 class="text-center">Can't Process Request For Now</h1>
        </div>
    </div>
</div>